[Desktop Entry]
Type=Application
Name=Skwd-wall
GenericName=Skwd-wall
Comment=Browse, download and apply image, vdeo or wallpaper engine wallpapers in style.
Exec=quickshell ipc -p /usr/share/skwd-wall/daemon.qml call wallpaper toggle
Terminal=false
Categories=Utility;Settings;
Keywords=wallpaper;background;theme;color;
NoDisplay=true